body {
    text-align: center;
}


.heading {
    text-decoration: underline;
}

#quiz-container {
    text-align: left;
}

input {
    width: fit-content;
}

.button {
    padding: 1rem;
    background-color: deeppink;
    color: white;
    border: none;
    border-radius: 000.5rem 0.5rem;
}

input, .button {
    cursor: pointer;
}

.button:hover {
    background-color: hotpink;
}

.hide {
    display: none;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 150px;
    width: 100%;
    background-color: darkgrey;
    color: black;
    text-align: center;
}

.copyright {
    color: color rgba(0, 0, 0, 0.5);
}