body {
    position: relative;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}


.heading {
    text-decoration: underline;
}

.caption {
    font-size: xx-small;
}

#quiz-container {
    padding-bottom: 100px;
}

/* #question-container {
   make them not fill the entire screen
} */

/* input {
   width: fit-content;
} */

.question {
    text-align: left;

}

.button {
    padding: 1rem;
    background-color: deeppink;
    color: white;
    border: none;
    border-radius: 000.5rem 0.5rem;
}

input, .button {
    cursor: pointer;
}

.button:hover {
    background-color: hotpink;
}

.hide {
    display: none;
}

.footer-heading {
    font-weight: bold;
    font-size: small;
    
}

footer {
    position: static;
    padding-top: 2px;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background-color: darkgrey;
    color: black;
    text-align: center;
    font-size: smaller;
}

.copyright {
    color: dimgrey;
    font-size: x-small;
}